.titel h1{
    display: flex;
    justify-content: center;
    font-variant: all-petite-caps;
}

.spelGeheel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 4rem;
    margin-right: 4rem;
}

.highscores{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-variant: all-petite-caps;
}

.highscores ul{
    margin: 0;
    padding: 0;
}

.highscores ul li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.spel-placeholder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.stats{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.laatsteTijd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-variant: all-petite-caps;
}

.uwtijd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-variant: all-petite-caps;
}