*, ::after, ::before {
    box-sizing: border-box
}

:root {
    --white: #f4f6f6;
    --black: #010111;
    --primary: var(--black);
    --secondary: var(--white);
    --bg: var(--white);

}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: var(--white);
        --bg: var(--black);
        --secondary: var(--black);
    }
}

html {
    background-color: var(--bg);
    font-family: Comfortaa, sans-serif;
    color: var(--primary)
}

/* UTILITY CLASSES, ATOMS...*/

figure, body {
    margin: 0;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 clamp(1rem, 4vw, 8rem);
}


p {
    max-width: 40em;
}

a:focus-visible, button:focus-visible {
    outline: 2px dotted;
    outline-offset: .2em;
}

img {
    max-width: 100%;
    aspect-ratio: 8/5;
    object-fit: cover;
    width: 100%; /*Trucje om aspect ratio te doen werken*/
}

h1, .subtitle {
    font-variant: all-petite-caps;
}

h2 {
    font-variant: petite-caps;
}

/* HEADER */

header {
    border-bottom: 0.2rem solid #6FC276;


}
header .logo {
    width: 20%;
}

.hamburger {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    order: -1;
    border: none;
    background-color: inherit;
    color: inherit;
    font: inherit;
    padding: 0;
    font-variant: all-petite-caps;
}

.hamburger .icon {
    width: 1.5rem;
}

.hamburger .icon span {
    height: 2px;
    display: block;
    background-color: var(--primary);
    margin: 4px 0;
    transition: transform .2s ease-in-out;
}

.hamburger[aria-expanded=true] .icon span:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.hamburger[aria-expanded=true] .icon span:nth-child(2) {
    visibility: hidden;
}

.hamburger[aria-expanded=true] .icon span:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}


header a {
    text-decoration: none;
    color: inherit;
}

header .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 0;
}

nav {
    width: 100%;
    display: none;

}

nav.hidden {
    display: block;
    position: relative;
    animation: 1s up forwards;
}

@keyframes up {
    0%{
        opacity: 1;
        margin-top: 0;
        left: 0;
    }
    60%{
        opacity: 0;
        margin-top: 0;
        left: 100%;
    }
    100%{
        opacity: 0;
        margin-top: -150%;
        left: 100%;
        visibility: hidden;
    }
}

nav.visible {
    display: block;
    position: relative;
    animation: 1s down forwards;
}

@keyframes down {
    0%{
        visibility: visible;
        opacity: 0;
        margin-top: -150%;
        left: -100%;
    }
    60%{
        opacity: 0;
        margin-top: 0;
        left: -100%;
    }
    100%{
        opacity: 1;
        margin-top: 0;
        left: 0;

    }
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    display: block;
    padding: 1rem 2rem;
    text-align: center;
    position: relative;
}



nav a::after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    background-color: var(--secondary);
    bottom: 0;
    width: 100%;
    right: 0;

}

/*FOOTER*/
footer{
    display: none;
}

header nav ul li a::before {
    display: inline-block;
    margin-right: .3rem;
    font-weight: 900;
    

  }
  header nav ul li:first-child a::before {
    content: "\f11b";
    
  }
  header nav ul li:nth-child(2) a::before {
    content: "\f70e";
  }
  header nav ul li:last-child a::before {
    content: "\f059";
  }
  /* MAIN */
.background-block{
    background-color: var(--white);
    border-radius: 5%;
}


/* BREAKPOINTS */

@media (min-width: 46.875em) {
    .hamburger {
        display: none;
    }

    header .logo {
        width: 10%;
    }

    header .content {
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    nav{
        display: block;
        animation: none;
    }

    nav.hidden{
        display: block;
        animation: none;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    nav a::after {
        width: 2rem;
        right: 2rem;
    }


    nav a.active::before,
    nav a:hover::before,
    nav a:focus-visible::before {
        top: 0;
        left: 2rem;
    }

    /*FOOTER*/
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .social-icons{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    .logo\&copyright{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo\&copyright h2{
        color: var(--soft-green);
        border: none;
        background-color: transparent;
    }

    .navigationFooter{
        display: flex;
        flex-direction: row;
    }

    .navigationFooter ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .navigationFooter ul li{
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    .navigationFooter ul li a{
        text-decoration: none;
        color: var(--secondary);
        font-weight: 800;
    }
}