.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.text h1{
    color: var(--primary);
    font-size: 100%;
}

.reviews-container{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}


.yellowstar{
    color: #ffff00;
    box-shadow: 12px 5px 29px -10px rgba(0,0,0,0.75);
}

.review{
    display: flex;
    flex-direction: column;
    align-content: start;
    justify-content: center;
    color: var(--black);
    background-color: var(--white);
    border-radius: 20px;
    padding: 1rem;
    margin-bottom: 2rem;
}

.sortingbuttons{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

.sortingbuttons button{
    padding: 0.5rem;
    font-size: 1.2em;
    background-color: var(--white);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin-bottom: 1rem;
}

.sortingbuttons button:hover{
    transform: scale(1.05);
}

.text p{
    color: var(--primary);
    font-size: 60%;
    max-width: 100%;
}

.display-image{
    display: flex;
    justify-content: flex-end;
    margin-left: 8rem;
}

.display-image img{
    width: 20rem;
    height: auto;
    animation: fadeInRight 1s ease-in-out 0s 1 normal forwards;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(250px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}



/* BREAKPOINTS */

@media (min-width: 46.875em) {

    .text{
        animation: fadeInLeft 1s ease-in-out 0s 1 normal forwards;
    }

    .text h1{
        color: var(--primary);
        font-size: 2.6rem;
        max-width: 30rem;
    }

    .text p{
        color: var(--primary);
        font-size: 1.0rem;
        max-width: 100%;
    }

    .intro{
        gap: 30%;
    }

    .review{
        display: flex;
        flex-direction: column;
        align-content: start;
        justify-content: center;
        color: var(--black);
        background-color: var(--white);
        border-radius: 20px;
        padding: 1rem;
        margin-bottom: 2rem;
    }


}