.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.text h1{
    color: var(--primary);
    font-size: 100%;
}

.text p{
    color: var(--primary);
    font-size: 60%;
    max-width: 100%;
}

.display-image{
    display: flex;
    justify-content: flex-end;
    margin-left: 8rem;
}

.display-image img{
    width: 20rem;
    height: auto;
    animation: fadeInRight 1s ease-in-out 0s 1 normal forwards;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(250px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}



/* BREAKPOINTS */

@media (min-width: 46.875em) {
    .display-image img{
        width: 30rem;
        height: auto;
    }

    .text{
        animation: fadeInLeft 1s ease-in-out 0s 1 normal forwards;
    }

    .text h1{
        color: var(--primary);
        font-size: 2.6rem;
    }

    .text p{
        color: var(--primary);
        font-size: 1.0rem;
        max-width: 100%;
    }

    .intro{
        gap: 30%;
    }



}